h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  padding: 10px 18px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

.success {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}

.error {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}
