<div class="wrapper">
  <div class="left-panel">

    <img src="/css.jpg" class="side-image">

    <div class="logo">CampusAssist</div>

    <h1>A complaint monitoring system</h1>

    <p>
      CampusAssist helps streamline, track, and resolve student concerns efficiently within EVSU.
    </p>

  </div>

  <div class="right-panel">
    <h2>Login</h2>

    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="username"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <div class="options">
      <label><input type="checkbox" /> Remember me</label>
      <a href="#">Forgot password?</a>
    </div>

    <button class="login-btn" (click)="onLogin()">Login</button>

    <p class="success" *ngIf="message">{{ message }}</p>
    <p class="error" *ngIf="error">{{ error }}</p>
  </div>
</div>